
# PlanAhead Generated physical constraints 

NET "clk" LOC = B8;
NET "reset" LOC = A7;

NET "LEDG[0]" LOC = C6;
NET "LEDG[1]" LOC = B6;
NET "LEDG[2]" LOC = C5;

NET "btn[0]" LOC = M4;
NET "btn[1]" LOC = C11;
NET "btn[2]" LOC = G12;