
# PlanAhead Generated physical constraints 
NET "charli_pin[7]" LOC = A9;
NET "charli_pin[6]" LOC = B9;
NET "charli_pin[5]" LOC = A10;
NET "charli_pin[4]" LOC = C9;
NET "charli_pin[3]" LOC = C12;
NET "charli_pin[2]" LOC = A13;
NET "charli_pin[1]" LOC = C13;
NET "charli_pin[0]" LOC = D12;

NET "clk" LOC = B8;
NET "rst" LOC = A7;

